<footer class="bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700">
    <div class="container mx-auto px-4 py-6 text-center">
        <p class="text-gray-600"></p>
        <p class="text-gray-600">Desenvolvido por <a target="_blank" href="https://jockamt.github.io/landing-page/" class="text-primary hover:underline">JockaMT</a></p>
    </div>
</footer>
<script>
    document.querySelector('footer p').innerHTML = `© ${new Date().getFullYear()} Visione del Paradiso. Todos os direitos reservados.`;
</script>