@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #ED4824;
    --shadow: 0px 0px 30px rgba(155, 155, 155, 0.178)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    outline: none;
}

.input-field {
    display: flex;
    max-width: 100%;
    border-radius: 30px;
    height: 3rem;
    border: 1px solid #C2C2C2;
    overflow-x: hidden;
}

.input-button {
    display: flex;
    max-width: 100%;
    border-radius: 30px;
    height: 3rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: large;
}

input {
    padding-left: 1rem;
    padding-right: 1rem;
}


@media only screen and (max-width: 767px) {
    .desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 766px) {
    .mobile {
        display: none;
    }
}

.mobile {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

.mobile img {
    height: 2rem;
    width: auto;
    z-index: 1;
}

.right-button {
    position: absolute;
    height: 4rem;
    width: 5rem;
    right: 0;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 3rem;
}

.left-button {
    position: absolute;
    height: 4rem;
    width: 5rem;
    left: 0;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 3rem;
}

.side-menu-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 998;
}

.side-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    width: 70%;
    height: 100%;
    gap: 1rem;
    z-index: 9999;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.active-menu {
    display: flex !important;
}

.slide-menu {
    display: flex !important;
    animation: slide 0.4s cubic-bezier(.65,-0.01,0,1.01);
}