footer {
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.footer-content {
    padding: 2rem 5rem;
    width: 100%;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

footer a {
    color: white;
}

@media only screen and (max-width: 767px) {
    footer {
        display: none;
    }
}
