.wel {
    padding-top: 30px;
    text-align: center;   
    font-weight: 400;
}

.display-numbers {
    color: var(--primary-color);
    padding: 0 .5rem;
}

.session-title {
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

@media only screen and (min-width: 766px) {

    section:not(.title) {
        box-shadow: var(--shadow);
        border-radius: 10px;
        background-clip: padding-box;
        margin: 30px;
    }

    .content {
        flex-direction: row !important;
        align-items: flex-end !important;
    }

    .but {
        width: 20rem !important;
        align-items: flex-end;
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }

}

.rows {
    display: flex;
    gap: 1rem;
}

.content-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: .3rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.but {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 2rem;
}

.danger {
    background-color: rgba(0, 0, 0, 0.78) !important;
}

h3 {
    padding-left: 2rem;
}

.edit-h3 {
    width: 50%;
}

label {
    display: flex;
    gap: 1rem;
}

.but-ed {
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 12px;
    padding: 10px 2rem;
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

input {
    width: 100%;
    font-size: 13pt;
    border: 1px solid rgba(30, 30, 30, 0.45);
    border-radius: 2rem;
}

.up-case {
    text-transform: capitalize;
}
