{% extends 'base.html' %}
{% block title %} Admin page {% endblock %}
{% block head_page %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}
{% block content %}
    <div>
        <section class="title">
            <h2 class="wel"> Bem vindo! <b>{{ user.name }}</b>! Esta é uma área restrita.</h2>
        </section>
        <section>
            <h2 class="session-title">Quartos</h2>
            <div class="content">
                <div class="content-box">
                    <form name="add_room" class="content" method="post" action="{{ url_for('create_room') }}">
                        <div class="content-box">
                            <div class="rows input-row"><h3 class="edit-h3"><label for="room_name">Nome:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="room_name" required id="room_name" type="text"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="room_description">Descrição: <input name="room_description" required id="room_description" type="text"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="room_size">Vagas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="room_size" required id="room_size" type="number"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="room_price">Preço:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="room_price" required id="room_price" type="text"></label></h3></div>
                        </div>
                        <div class="but">
                            <button class="but-ed" type="submit">Adicionar quarto</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section>
            <h2 class="session-title">Serviços</h2>
            <div class="content">
                <div class="content-box">
                    <form name="add_service" class="content" method="post" action="{{ url_for('create_service') }}">
                        <div class="content-box">
                            <div class="rows input-row"><h3 class="edit-h3"><label for="service_name">Nome:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="service_name" required id="service_name" type="text"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="service_description">Descrição: <input name="service_description" required id="service_description" type="text"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="service_size">Vagas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="service_size" required id="service_size" type="number"></label></h3></div>
                        </div>
                        <div class="but">
                            <button class="but-ed" type="submit">Adicionar serviço</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section>
            <h2 class="session-title">Eventos</h2>
            <div class="content">
                <div class="content-box">
                    <form name="add_event" class="content" method="post" action="{{ url_for('create_event') }}">
                        <div class="content-box">
                            <div class="rows input-row"><h3 class="edit-h3"><label for="event_name">Nome:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="event_name" required id="event_name" type="text"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="event_description">Descrição: <input name="event_description" required id="event_description" type="text"></label></h3></div>
                            <div class="rows input-row"><h3 class="edit-h3"><label for="event_size">Vagas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="event_size" required id="event_size" type="number"></label></h3></div>
                        </div>
                        <div class="but">
                            <button class="but-ed" type="submit">Adicionar evento</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}