<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{% block title %} {% endblock %}</title>
    {% block head_page %}{% endblock %}
</head>
<body>
    <header class="desktop">
        <div class="desktop-logo">
            <img alt="logo" src="{{ url_for('static', filename='assets/logo.png') }}">
        </div>
        <nav class="desktop-nav">
            <a class="nav_button" href="{{ url_for('home') }}">
                <h4>Home</h4>
            </a>
            <a class="nav_button" href="{{url_for('profile')}}">
                <h4>Profile</h4>
            </a>
            {% if logged %}
            <a class="nav_button" href="{{url_for('logout')}}">
                <h4>Logout</h4>
            </a>
            {% else %}
            <a class="nav_button" href="{{url_for('login')}}">
                <h4>Login</h4>
            </a>
            {% endif %}
        </nav>
    </header>
    {% if logged %}
    <header class="mobile mobile-header">
        <img alt="logo" src="{{ url_for('static', filename='assets/logo.png') }}">
        {% if form %}
            <a href="{{ url_for(form) }}" class="left-button"><span class="material-symbols-outlined">arrow_back</span></a>
        {% else %}
            <button onclick="toggle()" class="right-button"><span class="material-symbols-outlined">menu</span></button>
        {% endif %}
        <div class="side-menu-bg" id="sm1">
            <nav class="side-menu" id="sm2">
                <div class="side-header">
                    <img alt="logo" src="{{ url_for('static', filename='assets/logo.png') }}">
                </div>
                <button onclick="toggle()" class="right-button"><span class="material-symbols-outlined">close</span></button>
                <ul id="side-menu">
                    {% set buttons = {"home": "home", "rooms": "bed", "events": "event", "services": "concierge", "profile": "account_circle", "rate_us": "kid_star", "support": "help"} %}
                    {% for i in buttons %}
                        <li>
                            <a href="{{ url_for(i) }}">
                                <span class="material-symbols-outlined">{{ buttons[i] }}</span>
                                {{ i.capitalize().replace("_", " ") }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for("logout") }}" class="input-button side-menu-logout">Logout</a>
            </nav>
        </div>
    </header>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
<script>
    let menu = false
    function toggle () {
        if (menu) {
            document.getElementById("sm1").classList.remove("active-menu")
            document.getElementById("sm2").classList.remove("slide-menu")
            menu = false;
        } else {
            document.getElementById("sm1").classList.add("active-menu")
            document.getElementById("sm2").classList.add("slide-menu")
            menu = true;
        }
    }
</script>
