<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <h3>Visione Del Paradiso</h3>
        </div>
        <nav>
            <a class="nav_button" href="{{ url_for('home') }}">
                <span class="material-symbols-outlined">home</span><h4>Home</h4>
            </a>
            <a class="nav_button" href="{{url_for('login')}}">
                <span class="material-symbols-outlined">account_circle</span><h4>Login</h4>
            </a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
