{% extends 'base.html' %}
{% block title %} Visione del Paradiso {% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/catalog.css') }}">
        <title></title>
    </head>
    <div>
        <section>
            <p class="title">{{ info['title'] }}</p>
        </section>
        <section>
            {% for item in info['items'] %}
                {% set name = info['title'][:-1].replace(" ", "-").lower() %}
                {% set id = item['id']|string %}
                {% set url = "/checkout/" + name + '-' + id %}
                <a href="{{ url }}">
                    <div class="container">
                        <img class="container_img" src="{{ url_for('static', filename='assets/room_example.png') }}" alt="" width="100" height="100">
                        <div class="divid">
                            <p class="container_name">{{ item['name'] }}</p>
                            <p class="container_value"><b class="container_num">$  {{ item['price'] if item['price'] else 0.00 }}</b> per day</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </section>
    </div>
{% endblock %}