{% extends 'base.html' %}
{% block title %} Rooms {% endblock %}
{% block content %}
    <div>
        <section>
            <h2>{{ info['title'] }}</h2>
        </section>
        <section>
            {% for item in info['items'] %}
                <div>
                    <!-- div><img alt="room-img" src=""></--div -->
                    <div>
                        <h2>{{ item.name }}</h2>
                        <div><p>$ {{ item.price }}</p></div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}