{% extends 'base.html' %}
{% block title %} Editar perfil {% endblock %}
{% block head_page %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}
{% block content %}
    <div>
        <section class="title">
            <h2 class="wel">Bem vindo <b>{{ user.name }}!</b></h2>
        </section>
        <section id="about">
            <h2 class="session-title">Sobre</h2>
            <form class="content" method="post">
                <div class="content-box">
                    <div class="rows input-row"><h3 class="edit-h3"><label for="name">Primeiro nome: </label></h3><input name="n4me" required id="name" type="text" value="{{ user.name }}"></div>
                    <div class="rows input-row"><h3 class="edit-h3"><label for="last_name">Último nome: </label></h3><input name="last-name" required id="last_name" type="text" value="{{ user.last_name if user.last_name else "" }}"></div>
                    <div class="rows input-row"><h3 class="edit-h3"><label for="email">Email: </label></h3><input name="m4il" required id="email" value="{{ user.email }}"></div>
                    <div class="rows input-row"><h3 class="edit-h3">Sexo: </h3><label>Masculino <input value="male" name="sex" type="radio" {{ "checked" if user.sex == "male" }}></label><label>Feminino <input value="female" name="sex" type="radio" {{ "checked" if user.sex == "female" }}></label><label>Outro <input value="undefined" name="sex" type="radio" {{ "checked" if user.sex != "male" and user.sex != "female" }}></label></div>
                    <div class="rows input-row"><h3 class="edit-h3"><label for="age">Idade: </label></h3><input type="number" name="age" required id="age" value="{{ user.age if user.age else 0 }}"></div>
                    <div class="rows input-row"><h3 class="edit-h3"><label for="phone">Telefone: </label></h3><input type="tel" name="phone" id="phone" value="{{ user.phone if user.phone else "" }}"></div>
                </div>
                <div class="but">
                    <button class="but-ed" type="submit">Salvar</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}