{% block head_page %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
{% endblock %}
<footer>
    {% set buttons = ["home", "rooms", "events", "services", "profile", "rate_us", "support"] %}
    <div class="footer-content">
        <ul>
        {% for i in buttons %}
            <li>
                <a href="{{ url_for(i) }}">
                    {{ i.capitalize().replace("_", " ") }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ url_for('admin') }}">.</a>
    </div>
</footer>