{% extends 'base.html' %}
{% block title %} Início {% endblock %}
{% block head_page %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}
{% block content %}
    <section class="highlights">
        <img alt="Premium-room-image" src="{{ url_for('static', filename='assets/room_example.png') }}">
        <a href="{{ '/checkout/Room-' + destaque.id|string }}">Quarto em destaque - ver mais</a>
    </section>
    <section class="buttons">
        <a class="a_button" href="{{ url_for('rooms') }}">Quartos e reservas</a>
        <a class="a_button" href="{{ url_for('events') }}">Eventos</a>
        <a class="a_button" href="{{ url_for('services') }}">Serviços</a>
    </section>
    <section class="news">
        <h2>Bem-vindo à Visione del Paradiso!</h2>
        <article><p>É com grande prazer que abrimos as portas da Visione del Paradiso para recebê-lo em um ambiente onde o conforto encontra a elegância, e cada momento é uma experiência única.</p>
        <br/><p>Neste refúgio de tranquilidade, dedicamo-nos a proporcionar-lhe uma estadia memorável, repleta de comodidades e serviços que superam as suas expectativas. Desde quartos cuidadosamente decorados até uma cozinha refinada que desperta os sentidos, cada detalhe foi cuidadosamente considerado para elevar a sua experiência a um nível extraordinário.</p>
        <br/><p>Imprima-se na serenidade dos nossos jardins exuberantes, relaxe junto à piscina com uma vista deslumbrante, ou entregue-se aos luxos do nosso spa exclusivo. Na Visione del Paradiso, a excelência no serviço é a nossa prioridade, e a nossa equipe está aqui para tornar a sua estadia verdadeiramente especial.</p>
        <br/><p>Qualquer que seja o motivo da sua visita, ansiamos por compartilhar momentos inesquecíveis e tornar este retiro uma parte do seu paraíso pessoal.</p>
        <br/><p>Sinta-se em casa na Visione del Paradiso - onde o luxo encontra a hospitalidade de braços abertos.</p>
        <br/><p>Com estima, A Equipe da Visione del Paradiso</p></article>
    </section>
    {% if session.get('message') %}
        <script>
            alert("{{ session.pop('message') }}");
        </script>
    {% endif %}
{% endblock %}
