{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block head_page %}
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    </head>
{% endblock %}
{% block content %}
    <section class="highlights">
         <img src="{{ url_for('static', filename='assets/room_example.png') }}">
        <a href="#">Premium room - see more</a>
    </section>
    <section class="buttons">
        <a class="a_button" href="#">Schedules and rooms</a>
        <a class="a_button" href="#">Events</a>
        <a class="a_button" href="#">Services</a>
    </section>
    <section class="news">
        <h2>News</h2>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur.  Ultrices ornare viverra ac etiam et.  Pretium parturient morbi placerat  faucibus. Risus duis turpis eu feugiat.  In ipsum pretium odio aliquam dui.</p>
        </article>
    </section>
{% endblock %}