{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="login-box">
    <div class="login-left">
        <h2>Welcome back!</h2>
        <p>Sign in to access your</br>
            hotel account!</p>
    </div>
    <div class="login-right">
        <form method="post">
            <h2 class="login-title">Sign in</h2>
            <div class="input-field">
                <span class="material-symbols-outlined">mail</span>
                <input type="email" name="m4il" required placeholder="Email">
            </div>
            <div class="input-field">
                <span class="material-symbols-outlined">key</span>
                <input type="password" name="p4ss" required placeholder="Password"></div>
            <input type="submit" value="Login" class="input-button">
        </form>
        <p class="login-create">New here? <a href="/register">Create an Account</a></p>
    </div>
</div>
    
{% endblock %}