{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block head_page %}
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    </head>
{% endblock %}
{% block content %}
<div class="login-box">
    <div class="login-left desktop">
        <h2>Welcome back!</h2>
        <p>Sign in to access your<br/>
            hotel account!</p>
        </div>
    <div class="login-right">
        <form method="post">
            <div class="mobile-logo-div">
                <img class="mobile mobile-logo" src="{{ url_for('static', filename='assets/logo.png') }}"/>
                <p>Welcome! <strong>Sign in</strong> to continue!</p>
            </div>
            <div class="input-field">
                <span class="desktop material-symbols-outlined">mail</span>
                <input type="email" name="m4il" required placeholder="Email">
            </div>
            <div class="input-field pass">
                <span class="desktop material-symbols-outlined">key</span>
                <input type="password" name="p4ss" required placeholder="Password" id="_pass">
            </div>
            <input type="submit" value="Sign In" class="input-button">
        </form>
        <p class="login-create">New here? <a href="/register">Create an Account</a></p>
    </div>
</div>
{% endblock %}