{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block head_page %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}
{% block content %}
<div class="login-box">
    <div class="login-left desktop">
        <h2>Seja muito bem vindo(a)!</h2>
        <p>Entre com sua conta<br/>
            para acessar o melhor hotel da atualidade!</p>
    </div>
    <div class="login-right">
        <form method="post">
            <div class="mobile-logo-div">
                <img alt="logo" class="mobile mobile-logo" src="{{ url_for('static', filename='assets/logo.png') }}"/>
                <p>Bem vindo(a)! <strong>Entre</strong> para continuar!</p>
            </div>
            <div class="input-field">
                <span class="desktop material-symbols-outlined">mail</span>
                <input type="email" name="m4il" required placeholder="Email">
            </div>
            <div class="input-field pass">
                <span class="desktop material-symbols-outlined">key</span>
                <input type="password" name="p4ss" required placeholder="Senha" id="_pass">
            </div>
            <input type="submit" value="Entrar" class="input-button">
        </form>
        <p class="login-create">Novo aqui? <a href="/register">Crie uma conta</a> agora mesmo!</p>
    </div>
</div>
{% endblock %}