{% extends 'base.html' %}
{% block title %} Registrar {% endblock %}
{% block head_page %}
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}
{% block content %}
<div class="login-box">
    <div class="login-left desktop">
        <h2>Seja muito bem vindo(a)!</h2>
        <p><strong>Registre-se</strong> para ter acesso
            <br/>
            aos recursos de nosso hotel!</p>
    </div>
    <div class="login-right">
        <form method="post">
            <div class="mobile mobile-logo-div">
                <img alt="logo" class="mobile mobile-logo" src="{{ url_for('static', filename='assets/logo.png') }}"/>
                <p>Bem vindo! <strong>Registre-se</strong> para aproveitar!</p>
            </div>
            <div class="desktop mobile-logo-div">
                <p>Registre-se agora!</p>
            </div>
            <div class="input-field">
                <span class="desktop material-symbols-outlined">person</span>
                <input type="text" name="n4me" required placeholder="Nome">
            </div>
            <div class="input-field">
                <span class="desktop material-symbols-outlined">mail</span>
                <input type="email" name="m4il" required placeholder="Email">
            </div>
            <div class="input-field">
                <span class="desktop material-symbols-outlined">key</span>
                <input type="password" name="p4ss" required placeholder="Senha">
            </div>
            <div class="input-field">
                <span class="desktop material-symbols-outlined">lock</span>
                <input type="password" name="conf_p4ss" required placeholder="Confirmar senha">
            </div>
            <p class="error-msg">{{ msg }}</p>
            <input type="submit" value="Registrar" class="input-button">
        </form>
        <p class="login-create">Já registrado? <a href="{{ url_for('login') }}">Faça login</a></p>
    </div>
</div>
    
{% endblock %}