{% extends 'base.html' %}
{% block title %} Rooms {% endblock %}
{% block content %}
    <div>
        <section>
            <h2>Services</h2>
        </section>
        <section id="rooms">
            {% for service in services %}
                <div>
                    <!-- div><img alt="room-img" src=""></--div -->
                    <div>
                        <h2>{{ service.name }}</h2>
                        <div><p> per day.</p></div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}