{% extends 'base.html' %}
{% block title %} Visione del paradiso {% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/catalog.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/view-item.css') }}">
        <title></title>
    </head>
    <div>
        <img class="header-image" alt="room_image" src="{{ url_for('static', filename='assets/room_example.png') }}">
        <p class="title">{{ item.name }}</p>
        <div class="info-box">
            <p>{{ item.description }}</p>
        </div>
        <form class="bottom-bar" method="post">
            <p>$ {{ item.price if item.price else 0.00 }}</p>
            {% if item.client_id %}
                {% if item.client_id == client_id %}
                    <button class="input-button">Cancel</button> 
                {% else %}
                    <button disabled class="input-button">Occupied</button>
                {% endif %}
            {% else %}
            <button class="input-button">{{ 'Pay' if item.price else 'Get' }}</button>
            {% endif %}
        </form>
    </div>
{% endblock %}