{% extends 'base.html' %}
{% block title %} Visione del paradiso {% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/room.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/view-item.css') }}">
        <title></title>
    </head>
    <div>
        <img class="header-image" alt="room_image" src="{{ url_for('static', filename='assets/room_example.png') }}">
        <p class="title">{{ item.name }}</p>
        <div class="info-box">
            <p>{{ item.description }}</p>
        </div>
        <div class="bottom-bar">
            <p>$ {{ item.price if item.price else 0.00 }}</p>
            <a class="input-button">{{ 'Pay' if item.price else 'Get' }}</a>
        </div>
    </div>
{% endblock %}