<header class="flex sticky top-0 justify-center relative shadow-md bg-white dark:bg-gray-800 backdrop-blur-md px-6 h-24 z-99">
    <div class="container flex items-center justify-between h-full px-4">
        <a href="#"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" class="h-12 w-auto"></a>
        <nav class="hidden lg:flex flex items-center justify-between h-full">
            <ul class="flex items-center h-full">
                <li><a class="flex items-center duration-300 hover:text-white hover:dark:text-gray-800 hover:scale-110 hover:bg-primary rounded px-6 flex-1 py-2 font-semibold text-lg text-primary"
                        href="/">Início</a></li>
                <li><a class="flex items-center duration-300 hover:text-white hover:dark:text-gray-800 hover:scale-110 hover:bg-primary rounded px-6 flex-1 py-2 font-semibold text-lg text-primary"
                        href="/rooms">Quartos</a></li>
                <li><a class="flex items-center duration-300 hover:text-white hover:dark:text-gray-800 hover:scale-110 hover:bg-primary rounded px-6 flex-1 py-2 font-semibold text-lg text-primary"
                        href="/rooms">Serviços</a></li>
                <li><a class="flex items-center duration-300 hover:text-white hover:dark:text-gray-800 hover:scale-110 hover:bg-primary rounded px-6 flex-1 py-2 font-semibold text-lg text-primary"
                        href="/rooms">Eventos</a></li>
                <li><a class="flex items-center duration-300 hover:text-white hover:dark:text-gray-800 hover:scale-110 hover:bg-primary rounded px-6 flex-1 py-2 font-semibold text-lg text-primary"
                        href="/contact">Contato</a></li>
                <li class="relative group">
                    <!-- Botão -->
                    <button
                        class="flex items-center duration-300 hover:text-white hover:dark:text-gray-800 hover:bg-primary rounded px-6 py-2 font-semibold text-lg text-primary w-full">
                        <span class="material-symbols-outlined">account_circle</span>
                    </button>

                    <!-- Dropdown -->
                    <div
                        class="absolute top-full overflow-hidden right-0 z-10 flex scale-0 group-hover:scale-100 opacity-0 group-hover:opacity-100 duration-300 transition-color flex-col bg-white dark:bg-gray-800 shadow-lg rounded w-40">
                        <a class="px-4 py-2 hover:bg-gray-100 text-gray-200 dark:text-gray-200" href="/profile">Perfil</a>
                        <a class="px-4 py-2 hover:bg-gray-100 text-gray-200 dark:text-gray-200" href="/logout">Sair</a>
                    </div>
                </li>
            </ul>
        </nav>
        <button id="menu-button" class="flex lg:hidden text-primary p-6 translate-x-1/2 text-3xl">&#9776;</button>
        <nav id="sidebar-menu" class="hidden lg:hidden duration-300 flex fixed top-0 left-0 items-center bg-white dark:bg-gray-800 min-h-screen min-w-full z-50 shadow-lg">
            <button class="absolute top-1 right-0 text-4xl text-primary py-6 px-8 text-3xl" onclick="this.parentElement.classList.add('hidden')">&times;</button>
            <ul class="flex flex-col w-full items-center space-x-4 border-t border-gray-200">
                <li class="flex flex-1 w-2/3"><a class="flex items-center justify-center flex-1 w-full h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary"
                        href="/">Início</a></li>
                <li class="flex flex-1 w-2/3"><a class="flex items-center justify-center flex-1 w-full h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary"
                        href="/rooms">Quartos</a></li>
                <li class="flex flex-1 w-2/3"><a class="flex items-center justify-center flex-1 w-full h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary"
                        href="/services">Serviços</a></li>
                <li class="flex flex-1 w-2/3"><a class="flex items-center justify-center flex-1 w-full h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary"
                        href="/events">Eventos</a></li>
                <li class="flex flex-1 w-2/3"><a class="flex items-center justify-center flex-1 w-full h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary"
                        href="/contact">Contato</a></li>
                <li class="flex flex-col w-full items-center relative group border-t border-gray-200 pt-4">
                    <a class="flex items-center justify-center text-center flex-1 w-2/3 min-h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary" href="/profile">Perfil</a>
                    <a class="flex items-center justify-center text-center flex-1 w-2/3 min-h-24 text-center duration-300 px-6 py-2 font-semibold text-lg text-primary" href="/logout">Sair</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sidebarMenu = document.getElementById('sidebar-menu');
        const sidebarButton = document.getElementById('menu-button');

        sidebarButton.addEventListener('click', function () {
            sidebarMenu.classList.toggle('hidden');
        });
    });
</script>