{% extends 'index.html' %}
{% block title %} Quartos {% endblock %}
{% import 'components/room_card.html' as room_card %}

{% block content %}
<section class="container mx-auto px-4 py-8">
    <div class="container flex flex-col lg:flex-row lg:justify-between mx-auto mb-8 border-b-2 border-gray-200 pb-4">
        <h1 class="text-3xl font-bold text-center mb-2">Nossos Quartos</h1>
        <div class="flex flex-1 lg:max-w-xl items-center">
            <input type="text" placeholder="Pesquisar quartos..."
                class="flex flex-1 w-full p-2 border border-gray-300 rounded">
            <button
                class="flex bg-primary text-white items-center px-4 gap-2 py-2 rounded ml-2 hover:bg-primary/70 cursor-pointer transition-all duration-300">
                Pesquisar
                <span class="material-symbols-outlined scale-70 -mr-2" aria-label="search">
                    search
                </span>
            </button>
        </div>
    </div>
    <div class="grid md:grid-cols-3 lg:grid-cols-5 grid-cols-2 justify-between gap-4">
        {% set room_card = room_card %}
        {% for item in ["Room 1","Room 2","Room 3","Room 3","Room 3","Room 3","Room 3","Room 3","Room 3"] %}
        {{ room_card.render(title=item,
        image="https://images.pexels.com/photos/19836801/pexels-photo-19836801.jpeg", description='loren impson',
        price="$100") }}
        {% endfor %}
    </div>
</section>
{% endblock %}